body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	max-width: 100vw;
	min-height: 100vh;
}



.container {
	position: relative;
	margin: 0;
	width: 100%;
	height: 0;
	padding-bottom: 66.6%;
	background-image: url('../images/home-bg-1200.png');
	background-size: cover;
	background-position: center;
 }

 .home{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
 }

.doors{
	position: absolute;
	display: flex;
	gap: 1.4%;
	top: 35.6%;
	left: 31.4%;
	width: 36.6%;
	height: 12%;
}



.door{
	cursor: pointer;
	box-shadow: 0px 2px 5px yellow;
}

.door1{	
	background-image: url('../images/door1-1200.png');	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
	width: 19%;
	height: 100%;

	transform-origin: left;	
	transition: all 0.2s ease-in-out;
}

.door2{	
	background-image: url('../images/door2-1200.png');	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
	width: 19%;
	height: 100%;

	transform-origin: right;	
	transition: all 0.2s ease-in-out;
}

.door3{	
	background-image: url('../images/door3-1200.png');	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
	width: 19%;
	height: 100%;

	transform-origin: top;	
	transition: all 0.2s ease-in-out;
}

.door4{	
	background-image: url('../images/door4-1200.png');	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
	width: 19%;
	height: 100%;

	transform-origin: bottom;	
	transition: all 0.2s ease-in-out;
}

.door5{	
	background-image: url('../images/door5-1200.png');	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
	width: 19%;
	height: 100%;

	transform-origin: right;	
	transition: all 0.2s ease-in-out;
}


.doorOpenLeft{
	background-image: none;
	background-color: rgb(43, 65, 45);
	transform: perspective(1200px) rotate3d(0, 1, 0, -105deg);	
}
.doorOpenRight{
	background-image: none;
	background-color: rgb(61, 59, 59);		
	transform: perspective(1200px) rotate3d(0, 1, 0, 105deg);
}
.doorOpenTop{
	background-image: none;
	background-color: rgb(61, 59, 59);	
	transform: perspective(1200px) rotate3d(1, 0, 0, 105deg);
}
.doorOpenBottom{
	background-image: none;
	background-color: rgb(61, 59, 59);
	transform: perspective(1200px) rotate3d(1, 0, 0, -105deg);
}
.home{
	width: 100%;
	height: 100%;
	object-fit:cover;
}